.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  align-items: center;
}
.skillBox {
    background: #1c4cdb;
  box-shadow: inset 7px 7px 14px #061542, inset -7px -7px 14px #081f62;
}
